local Players = game:GetService("Players")
-- init
local library = loadstring(game:HttpGet("https://raw.githubusercontent.com/GreenDeno/Venyx-UI-Library/main/source.lua"))()
local venyx = library.new("NAM Hub | Matrixxx#9999 | JAS#0027", 5013109572)

-- themes
local themes = {
    Background = Color3.fromRGB(32, 32, 32),
    Glow = Color3.fromRGB(43, 255, 0),
    Accent = Color3.fromRGB(10, 10, 10),
    LightContrast = Color3.fromRGB(20, 20, 20),
    DarkContrast = Color3.fromRGB(14, 14, 14),  
    TextColor = Color3.fromRGB(72, 255, 0)
    }

-- Variables
local stats = require(game.Players.LocalPlayer.PlayerGui.Main.MainClient.StatModuleClient)
local x
local pllist = {}

-- first page
local page = venyx:addPage("Training", 5012544693)
local page2 = venyx:addPage("Infinite Spins", 5012544693)
local page3 = venyx:addPage("Teleport", 5012544693)
local section1 = page:addSection("Strength")
local section2 = page:addSection("Chakra")
local section3 = page:addSection("Durability")
local section4 = page2:addSection("Infinite Spins")
local section5 = page3:addSection("Teleport to Players")
section1:addToggle("Train", nil, function(Strength)
   
    getgenv().toggle1 = Strength

   while wait() do
       if getgenv().toggle1 == true then
        wait()
        stats.SendToServer("Strength")
       end
   end

end)
 
section2:addToggle("Train", nil, function(Chakra)
    getgenv().toggle2 = Chakra
    while wait() do
        if getgenv().toggle2 == true then
            task.spawn(function()
                stats.SendToServer("Chakra")
            end)
        end
        end
    end)
    section2:addButton("Train Chakra OP (In Testing)", function()
        game.StarterGui:SetCore("SendNotification",{Title = "Wait", Text = "It may take some time", Duration = 15})
        for i=0, 14340 do
        task.spawn(function()
            stats.SendToServer("Chakra")
        end)
    end
    end)
    section3:addToggle("Train", nil, function(Durability)                                 
        getgenv().toggle3 = Durability
        while wait() do
            if getgenv().toggle3 == true then
             stats.SendToServer("Durability")
            end
        end
        end)
          section4:addButton("Start Spining", function()
            
                    for i = 0,100 do
                    task.spawn(function()
                        while wait() do
                        game:GetService("ReplicatedStorage").RSPackage.Events.GeneralFunction:InvokeServer("LotteryRandomDraw")
                        game:GetService("ReplicatedStorage").RSPackage.Events.GeneralEvent:FireServer("SpinFinished")
                        end
                    end)
                end
            
                end)
                   
                    
                 section5:addDropdown("In testing", {"plr"}, function(jugador) 
                    
                    
             end) 
               
                    
                
                for theme, color in pairs(themes) do
                    library:setTheme(theme, color)
                end          
            
           


-- load
venyx:SelectPage(venyx.pages[1], true)
--AntiAFK
local vu = game:GetService("VirtualUser")
game:GetService("Players").LocalPlayer.Idled:connect(function()
vu:Button2Down(Vector2.new(0,0),workspace.CurrentCamera.CFrame)
wait(1)
vu:Button2Up(Vector2.new(0,0),workspace.CurrentCamera.CFrame)
end)
wait(1)
--Chat
bc = BrickColor.new("Lime green")
    
game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: YO!";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(2)
bc = BrickColor.new("Lime green")

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: Matrix there";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(5)
      
bc = BrickColor.new("Lime green")

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: Well it's not really me, I'm probably asleep, doing homework or watching anime, anyway this is a chat system, so every time you open the script there will be messages explaining new features of the script and things in the script that I need to explain.";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(10)
      
bc = BrickColor.new(0, 255, 242)

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: First of all the fast chakra function is in testing, sometimes it usually gives more increases and sometimes not, after it finishes giving the increases, wait a while to use the function again or you can also rejoin.";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(10)
      
bc = BrickColor.new("Really red")

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: Some of those who have the (Chakra Healing) gamepass will probably have trouble using Chakra Op function. ";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(10)
bc = BrickColor.new(0, 255, 242)
game.StarterGui:SetCore("ChatMakeSystemMessage", {
    
    Text = "[Scripter][Matrixplayer]: apart from that the script works fine and shouldn't have any problems, functions like teleport or autofarm are under development. ";
    
    Font = Enum.Font.Highway;
    
    Color = bc.Color;
    
    FontSize = Enum.FontSize.Size8;
    })
    wait(8)
        bc = BrickColor.new("Lime green")
        game.StarterGui:SetCore("ChatMakeSystemMessage", {

        Text = "[Scripter][Matrixplayer]: That's all for now, have a nice day OwO";
        
        Font = Enum.Font.Highway;
        
        Color = bc.Color;
        
        FontSize = Enum.FontSize.Size8;
        })
