repeat
    wait()
until game:IsLoaded()
-- Variables
local stats = require(game.Players.LocalPlayer.PlayerGui.Main.MainClient.StatModuleClient)
local playerl = {}
local tp
local l
--algunos ciclos
    wait(1)
for i, v in pairs(game:GetService("Players"):GetPlayers()) do
    if v ~= game.Players.LocalPlayer then 
        table.insert(playerl,v.Name)
    end
    end
    wait(1)
    game.Players.PlayerAdded:Connect(function(player)
        table.insert(playerl,player.Name)
    end)
    wait(1)
    game.Players.PlayerRemoving:Connect(function(player)
     for i=0,50 do
     if i == table.find(playerl,player.Name) then
        table.remove(playerl,i)
     end
    end
    end)
    wait(1)
-- init
local library = loadstring(game:HttpGet("https://raw.githubusercontent.com/GreenDeno/Venyx-UI-Library/main/source.lua"))()
local venyx = library.new("NAM Hub | Matrixxx#9999 | JAS#0027", 5013109572)

-- themes
local themes = {
    Background = Color3.fromRGB(32, 32, 32),
    Glow = Color3.fromRGB(43, 255, 0),
    Accent = Color3.fromRGB(10, 10, 10),
    LightContrast = Color3.fromRGB(20, 20, 20),
    DarkContrast = Color3.fromRGB(14, 14, 14),  
    TextColor = Color3.fromRGB(72, 255, 0)
    }


-- first page
local page = venyx:addPage("Training", 5012544693)
local page2 = venyx:addPage("Infinite Spins", 5012544693)
local page3 = venyx:addPage("Teleport", 5012544693)
local section1 = page:addSection("Strength")
local section2 = page:addSection("Chakra")
local section3 = page:addSection("Durability")
local section4 = page2:addSection("Infinite Spins")
local section5 = page3:addSection("Teleport to Players")
local section6 = page3:addSection("Teleport to Dimensions")
section1:addToggle("Train", nil, function(Strength)
   
    getgenv().toggle1 = Strength

   while wait() do
       if getgenv().toggle1 == true then
        wait()
        stats.SendToServer("Strength")
       end
   end

end)
 
section2:addToggle("Train", nil, function(Chakra)
    getgenv().toggle2 = Chakra
    while wait() do
        if getgenv().toggle2 == true then
            task.spawn(function()
                stats.SendToServer("Chakra")
            end)
        end
        end
    end)
    section2:addButton("Train Chakra OP (In Testing)", function()
        game.StarterGui:SetCore("SendNotification",{Title = "Wait", Text = "It can take a minute or a little more to start training", Duration = 15})
        coroutine.wrap(function()
            while wait(60) do
            for i=0, 14000 do
                task.spawn(function()
                    stats.SendToServer("Chakra")
                end)
            end
        end
        end)()
    end)
    section3:addToggle("Train", nil, function(Durability)                                 
        getgenv().toggle3 = Durability
        while wait() do
            if getgenv().toggle3 == true then
             stats.SendToServer("Durability")
            end
        end
        end)
          section4:addButton("Start Spining", function()
            
                    for i = 0,100 do
                    task.spawn(function()
                        while wait() do
                        game:GetService("ReplicatedStorage").RSPackage.Events.GeneralFunction:InvokeServer("LotteryRandomDraw")
                        game:GetService("ReplicatedStorage").RSPackage.Events.GeneralEvent:FireServer("SpinFinished")
                        end
                    end)
                end
            
                end)
                

                 section5:addDropdown("Players", playerl, function(jugador) 
                    for _, value in pairs(game:GetService("Players"):GetPlayers()) do
                        if value.Name == jugador then
                           tp = value
                        end
                    end
             end) 
             section5:addToggle("Teleport to player", nil, function(teleport)                                 
                getgenv().toggle4 = teleport
                while wait() do
                    if getgenv().toggle4 == true then
                        for i2, v2 in pairs(tp.Character:GetChildren()) do
                            if v2.Name == "HumanoidRootPart" then
                               l = v2.Position
                            end
                        end
                        task.spawn(function()
                            
                            local pl = game.Players.LocalPlayer.Character.HumanoidRootPart
                            local location = CFrame.new(l)
                            local humanoid = game.Players.LocalPlayer.Character.Humanoid
                            pl.CFrame = location
                            end)
                        
                    end
                end
                end)
                section6:addDropdown("Dimensions", {"Dimension 1","Dimension 2","Dimension 3","Dimension 4","Dimension 5","Dimension 6",}, function(dimension) 
                    if dimension == "Dimension 1" then game:GetService("TeleportService"):Teleport(4042427666)
                        elseif dimension == "Dimension 2"  then game:GetService("TeleportService"):Teleport(5113678354) 
                        elseif dimension == "Dimension 3"  then game:GetService("TeleportService"):Teleport(5113680396) 
                        elseif dimension == "Dimension 4"  then game:GetService("TeleportService"):Teleport(5445525505) 
                        elseif dimension == "Dimension 5"  then game:GetService("TeleportService"):Teleport(6479720355) 
                        elseif dimension == "Dimension 6"  then game:GetService("TeleportService"):Teleport(9386500519) 
                        end
             end) 
                
                for theme, color in pairs(themes) do
                    library:setTheme(theme, color)
                end          
            
           


-- load
venyx:SelectPage(venyx.pages[1], true)
--AntiAFK
local vu = game:GetService("VirtualUser")
game:GetService("Players").LocalPlayer.Idled:connect(function()
vu:Button2Down(Vector2.new(0,0),workspace.CurrentCamera.CFrame)
wait(1)
vu:Button2Up(Vector2.new(0,0),workspace.CurrentCamera.CFrame)
end)
wait(1)
--Chat
bc = BrickColor.new(0, 255, 242)
    
game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: Hi there";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(2)
bc = BrickColor.new(0, 255, 242)

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "[Scripter][Matrixplayer]: Well, I already updated the hub, these are the new features.";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(4)
      
bc = BrickColor.new("New Yeller")

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "+AutoTrain Chakra OP";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(2)
      
bc = BrickColor.new("New Yeller")

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "+Teleport to Players";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(2)
      
bc = BrickColor.new("New Yeller")

game.StarterGui:SetCore("ChatMakeSystemMessage", {

Text = "+Teleport to any dimension";

Font = Enum.Font.Highway;

Color = bc.Color;

FontSize = Enum.FontSize.Size8;
})
wait(3)
bc = BrickColor.new("Lime green")
game.StarterGui:SetCore("ChatMakeSystemMessage", {
    
    Text = "[Scripter][Matrixplayer]: Well that's all the new features for now, I'll be adding more, but I've been busy. ";
    
    Font = Enum.Font.Highway;
    
    Color = bc.Color;
    
    FontSize = Enum.FontSize.Size8;
    })
        wait(5)
        bc = BrickColor.new("Lime green")
        game.StarterGui:SetCore("ChatMakeSystemMessage", {

        Text = "[Scripter][Matrixplayer]: I wanted to explain how the Chakra OP function works now, basically when you press the Chakra OP button, every minute that function will be executed automatically, without having the need as before to press the button every so often.";
        
        Font = Enum.Font.Highway;
        
        Color = bc.Color;
        
        FontSize = Enum.FontSize.Size8;
        })
        bc = BrickColor.new("Lime green")
        wait(8)
        game.StarterGui:SetCore("ChatMakeSystemMessage", {
        
            Text = "[Scripter][Matrixplayer]: So basically now chakra op is executed once every minute when you press the button, that is to say that if you press the button now, you have to wait a minute for it to give you the increments and the function will be executed automatically every minute, sometimes it can give you more increments and sometimes not, so be patient.";
        
        Font = Enum.Font.Highway;
        
        Color = bc.Color;
        
        FontSize = Enum.FontSize.Size8;
        })
        bc = BrickColor.new("Lime green")
        wait(8)
        game.StarterGui:SetCore("ChatMakeSystemMessage", {
        
            Text = "[Scripter][Matrixplayer]: And finally, I forgot to mention that the anti-afk is always active, so you don't need to have the autoclicker or anything like that. ";
        
        Font = Enum.Font.Highway;
        
        Color = bc.Color;
        
        FontSize = Enum.FontSize.Size8;
        })
        bc = BrickColor.new(0, 255, 242)
        wait(8)
        game.StarterGui:SetCore("ChatMakeSystemMessage", {
        
            Text = "[Scripter][Matrixplayer]: Well that's all for now, have a nice day, afternoon, night or whatever. ";
        
        Font = Enum.Font.Highway;
        
        Color = bc.Color;
        
        FontSize = Enum.FontSize.Size8;
        })
